---
import SwitchFooter from "../../components/switch/SwitchFooter.astro";
import SwitchNav from "../../components/switch/SwitchNav.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="SwitchApp" data-switch-route="about">
    <SwitchNav current="about"/>

    <SwitchFooter/>
  </main>
</Layout>
