---
import TerminalScreen from "./TerminalScreen.astro";
---

<div class="Boot">
  <!-- Header -->
  <header class="Header">
    <div class="HeaderInner">
      <button class="Button Button--switch">
        <span class="material-symbols-outlined ButtonIndicator">settings_input_component</span>
        <span class="ButtonText">Switch UI</span>
      </button>
    </div>
    <div class="Banner">
      <div class="BannerStack" aria-hidden="true">
        <pre class="BannerText BannerText--sizer">
██████╗ ██╗███████╗██╗  ██╗██╗      ███████╗██╗  ██╗
██╔══██╗██║██╔════╝██║  ██║██║      ██╔════╝██║  ██║
██████╔╝██║███████╗███████║██║      ███████╗███████║
██╔══██╗██║╚════██║██╔══██║██║      ╚════██║██╔══██║
██║  ██║██║███████║██║  ██║██║  ██╗ ███████║██║  ██║
╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚══════╝╚═╝  ╚═╝
        </pre>
        <pre class="BannerText BannerText--frame-base">
██████╗ ██╗███████╗██╗  ██╗██╗      ███████╗██╗  ██╗
██╔══██╗██║██╔════╝██║  ██║██║      ██╔════╝██║  ██║
██████╔╝██║███████╗███████║██║      ███████╗███████║
██╔══██╗██║╚════██║██╔══██║██║      ╚════██║██╔══██║
██║  ██║██║███████║██║  ██║██║  ██╗ ███████║██║  ██║
╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚══════╝╚═╝  ╚═╝
        </pre>
        <pre class="BannerText BannerText--frame-glitchA">
██████╗ ██╗███████╗██╗  ██╗██╗      ███████╗██╗  ██╗
  ██╔══██╗██║██╔════╝██║  ██║██║      ██╔════╝██║  ██║
██████╔╝██║███████╗███████║██║      ███████╗███████║
██╔══██╗██║╚════██║██╔══██║██║      ╚════██║██╔══██║
 ██║  ██║██║███████║██║  ██║██║  ██╗ ███████║██║  ██║
╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚══════╝╚═╝  ╚═╝
        </pre>
        <pre class="BannerText BannerText--frame-base2">
██████╗ ██╗███████╗██╗  ██╗██╗      ███████╗██╗  ██╗
██╔══██╗██║██╔════╝██║  ██║██║      ██╔════╝██║  ██║
██████╔╝██║███████╗███████║██║      ███████╗███████║
██╔══██╗██║╚════██║██╔══██║██║      ╚════██║██╔══██║
██║  ██║██║███████║██║  ██║██║  ██╗ ███████║██║  ██║
╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚══════╝╚═╝  ╚═╝
        </pre>
        <pre class="BannerText BannerText--frame-glitchB">
██████╗ ██╗███████╗██╗  ██╗██╗      ███████╗██╗  ██╗
██╔══██╗██║██╔════╝██║  ██║██║      ██╔════╝██║  ██║
 ██████╔╝██║███████╗███████║██║      ███████╗███████║
██╔══██╗██║╚════██║██╔══██║██║      ╚════██║██╔══██║
██║  ██║██║███████║██║  ██║██║  ██╗ ███████║██║  ██║
    ╚═╝  ╚═╝╚═╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚══════╝╚═╝  ╚═╝
        </pre>
      </div>
    </div>
  </header>

  <!-- Boot Card / Terminal -->
  <main class="Output">
    <TerminalScreen />
  </main>
</div>
